#anotacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#textarea {
    width: 27vw;
    height: 41vh;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 5px;
}

#anotacoes form section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#anotacoes form section button {
    height: 30px;
    width: 100px;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

#anotacoes form section button#salvar-text{
    background-color: green;
    margin-right: 4vw;
}

#anotacoes form section button#salvar-text:hover {
    transform: scale(0.98);
    background-color: rgb(4, 73, 4);
}

#anotacoes form section button#salvar-text:active {
    transform: scale(1.02);
}

#anotacoes form section button#limpar-text{
    background-color: red;
}

#anotacoes form section button#limpar-text:hover {
    background-color: rgb(145, 0, 0);
    transform: scale(0.98);
}

#anotacoes form section button#limpar-text:active {
    transform: scale(1.02);
}
