* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body header {
    background-color: rgba(53, 118, 153, 0.726);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    color: #FFF;
}

body header #deslogar {
    background-color: rgb(190, 26, 26);
    height: 5vh;
    width: 7vw;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s;
}

body header #deslogar:hover {
    background-color: rgb(116, 17, 17);
    transform: scale(1.02);
}

body main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #171717;
}

body main div#banner-wrapper {
    position: relative;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-wrapper::before,
#banner-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

#banner-wrapper::before {
    left: 0;
    background: linear-gradient(to right, #171717, transparent);
}

#banner-wrapper::after {
    right: 0;
    background: linear-gradient(to left, #171717, transparent);
}

body main div#banner-wrapper div#banner-fade {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

body main div#banner-wrapper div#banner-fade div#banner {
    display: flex;
    gap: 2vw;
    align-items: center;
    transition: transform 0.4s ease;
}

.sem-animacao {
    transition: none !important;
}

body main div#banner-wrapper button.lados {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(158, 158, 158, 0.418);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

body main div#banner-wrapper button.btn-next {
    right: 3.5vw;
}

body main div#banner-wrapper button.btn-prev {
    left: 3.5vw;
}

body main div#banner-wrapper button.lados:hover {
    background-color: rgb(158, 158, 158);
    transform: translateY(-50%) scale(1.02);
}

body main div#banner-wrapper button.lados:active {
    transform: translateY(-50%) scale(0.98);
}

body main div#banner-wrapper div#banner-fade div#banner section.card {
    height: 60vh;
    width: 30vw;
    flex-shrink: 0;

    background-color: #FFF;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    background-color: #474747;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

body main div#banner-wrapper div#banner-fade div#banner section.card section.card-header {
    background-color: transparent;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    font-size: 3vh;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: #fff;
}

body main div#banner-wrapper div#banner.esquerda {
    transform: translateX(490px);
}

body main div#banner-wrapper div#banner.direita {
    transform: translateX(-490px);
}